In [1]:
import pandas as pd
import tabula
Mpesa=pd.read_excel(r'C:\Users\User\Documents\KELVIN MPESA.xlsx')

In [2]:
Mpesa.head(10)

,Receipt No.,Completion Time,Completion Date,Details,Transaction Status,Paid In,Withdrawn,Balance
0,SFA511HYRF,11:02:10,10-06-2024,Pay Bill Online Fuliza M-Pesa to\n4097371 - 1X...,Completed,NaN,-400.00,0.00
1,SFA511HYRF,11:02:10,10-06-2024,OverDraft of Credit Party,Completed,400.00,NaN,400.00
2,SFA710PRIB,10:55:48,10-06-2024,Customer Transfer of Funds\nCharge,Completed,NaN,-7.00,0.00
3,SFA710PRIB,10:55:48,10-06-2024,Customer Transfer Fuliza MPesa\nto - 01******5...,Completed,NaN,-500.00,7.00
4,SFA710PRIB,10:55:48,10-06-2024,OverDraft of Credit Party,Completed,46.59,NaN,507.00
5,SFA8ZWNL20,10:22:26,10-06-2024,Business Payment from 3030523\n- 1XBET-B2C via...,Completed,420.00,NaN,460.41
6,SFA9ZQ0QPR,09:24:44,10-06-2024,Customer Transfer of Funds\nCharge,Completed,NaN,-13.00,40.41
7,SFA9ZQ0QPR,09:24:44,10-06-2024,Customer Transfer to -\n2547******421 ISAAC LE...,Completed,NaN,-600.00,53.41
8,SFA5ZPU5UP,09:23:05,10-06-2024,Business Payment from 222112 -\nFamily Bank Lt...,Completed,1000.00,NaN,1000.00
9,SFA5ZPU24T,09:23:05,10-06-2024,OD Loan Repayment to 232323 -\nM-PESA Overdraw,Completed,NaN,-346.59,653.41

In [3]:
Mpesa['Details']

0       Pay Bill Online Fuliza M-Pesa to\n4097371 - 1X...
1                               OverDraft of Credit Party
2                      Customer Transfer of Funds\nCharge
3       Customer Transfer Fuliza MPesa\nto - 01******5...
4                               OverDraft of Credit Party
                              ...
2117    Business Payment from 3030523\n- 1XBET-B2C via...
2118    Pay Bill Online Fuliza M-Pesa to\n4097371 - 1X...
2119                            OverDraft of Credit Party
2120                         Airtime Purchase with Fuliza
2121                            OverDraft of Credit Party
Name: Details, Length: 2122, dtype: object

In [4]:
Mpesa['Withdrawn']=pd.to_numeric(Mpesa['Withdrawn'])
Mpesa['Withdrawn']=Mpesa['Withdrawn'].abs()

In [5]:
filtered_df = Mpesa[Mpesa['Details'].str.contains('1XBET-C2B', case=False, na=False)]

In [6]:
Kevinmpesa = filtered_df[filtered_df['Withdrawn'] > 0]

In [7]:
Sum_kevinmpesa = filtered_df['Withdrawn'].sum()
print(Sum_kevinmpesa)

21090.0

In [8]:
Paid_by_1xbet=Mpesa[Mpesa['Details'].str.contains('1XBET-B2C',case=False, na=False)]

In [9]:
Paid_by_1xbet_df=Paid_by_1xbet[Paid_by_1xbet['Paid In']>0]
sum_Paid_by_1xbet=Paid_by_1xbet['Paid In'].sum()
print(sum_Paid_by_1xbet)

12500.0

In [10]:
Loss=Sum_kevinmpesa-sum_Paid_by_1xbet

In [11]:
print(Loss)

8590.0

In [12]:
Bank_df=Mpesa[Mpesa['Details'].str.contains('Business Payment from 222112',case=False,na=False)]

In [13]:
Mobilebank=Bank_df[Bank_df['Paid In']>0]
Mobilebank_df=Bank_df['Paid In'].sum()
print(Mobilebank_df)

81900.0

In [14]:
Airtime=Mpesa[Mpesa['Details'].str.contains('Airtime Purchase',case=False,na=False)]
print(Airtime)

     Receipt No. Completion Time Completion Date  \
24    SF92WB8U06        10:04:16      09-06-2024
30    SF88SS6IQC        11:12:33      08-06-2024
31    SF82SAG4MM        08:38:56      08-06-2024
34    SF74R7L7CA        20:10:10      07-06-2024
38    SF70Q3HLC6        16:26:53      07-06-2024
...          ...             ...             ...
2065  SA38X20ME2        01:25:22      03-01-2024
2069  SA26X03H58        23:42:00      02-01-2024
2102  SA10SNI1NM        15:40:25      01-01-2024
2114  RLV9QWE2YV        22:39:15      31-12-2023
2120  RLV1QR88J3        21:39:43      31-12-2023

                           Details Transaction Status  Paid In  Withdrawn  \
24    Airtime Purchase with Fuliza          Completed      NaN       30.0
30                Airtime Purchase          Completed      NaN      100.0
31                Airtime Purchase          Completed      NaN       30.0
34                Airtime Purchase          Completed      NaN       50.0
38    Airtime Purchase with Fuliza          Completed      NaN       25.0
...                            ...                ...      ...        ...
2065  Airtime Purchase with Fuliza          Completed      NaN       37.0
2069  Airtime Purchase with Fuliza          Completed      NaN       50.0
2102  Airtime Purchase with Fuliza          Completed      NaN      100.0
2114  Airtime Purchase with Fuliza          Completed      NaN      180.0
2120  Airtime Purchase with Fuliza          Completed      NaN      100.0

      Balance
24       0.00
30     108.75
31     208.75
34     508.75
38       0.00
...       ...
2065     0.00
2069     0.00
2102     0.00
2114     0.00
2120     0.00

[91 rows x 8 columns]

In [15]:
Mpesa['Withdrawn']=pd.to_numeric(Mpesa['Withdrawn'])
Mpesa['Withdrawn']=Mpesa['Withdrawn'].abs()
Airtime=Mpesa[Mpesa['Details'].str.contains('Airtime Purchase',case=False,na=False)]
Airtime_purchased=Airtime[Airtime['Withdrawn']>0]
Airtime_used=Airtime['Withdrawn'].sum()
print(Airtime_used)

8050.0

In [18]:
Mpesa['Withdrawn']=pd.to_numeric(Mpesa['Withdrawn'])
Mpesa['Withdrawn']=Mpesa['Withdrawn'].abs()
food_Nerisha=Mpesa[Mpesa['Details'].str.contains('NERISHA',case=False,na=False)]
food_nerisha=food_Nerisha[food_Nerisha['Withdrawn']>0]
vegetables_bought=food_nerisha['Withdrawn'].sum()
print(vegetables_bought)

2885.0

In [25]:
Mw=Mpesa[Mpesa['Details'].str.contains('MERCY',case=False,na=False)]
mw=Mw[Mw['Withdrawn']>0]
mw_veg=mw['Withdrawn'].sum()
print(mw_veg)

3600.0

print(Mw)

In [29]:
print(Mpesa['Details'].value_counts())

OverDraft of Credit Party                                                                                                   704
OD Loan Repayment to 232323 -\nM-PESA Overdraw                                                                              187
Airtime Purchase with Fuliza                                                                                                 71
Merchant Payment Fuliza M-Pesa\nto 461189 - BLISSMAKS\nSERVICES LTD                                                          69
Pay Bill Charge                                                                                                              67
                                                                                                                           ...
Business Payment from 222112 -\nFamily Bank Ltd Pesa Pap via\nAPI. Original conversation ID is\n20240401125839-52526064.      1
Merchant Payment Fuliza M-Pesa\nto 7119821 - Mylo Shirts Ke via\nKopo Kopo                                                    1
Merchant Payment Fuliza M-Pesa\nto 6349976 - BASIGO Jani -\nKDL236X                                                           1
Business Payment from 545100 -\niPay Limited via API. Original\nconversation ID is\nXBET2274316A41711983606945\n10294.        1
Pay Bill Online Fuliza M-Pesa to\n4097371 - 1XBET-C2B Acc.\nwt44820496                                                        1
Name: Details, Length: 644, dtype: int64

In [31]:
print(Mpesa.describe())

           Paid In    Withdrawn      Balance
count   912.000000  1210.000000  2122.000000
mean    228.729331   175.311959   288.624571
std     404.607429   279.901309   803.452354
min       0.700000     2.000000     0.000000
25%      50.000000    30.000000     0.000000
50%     100.000000    70.000000    30.000000
75%     279.750000   200.000000   162.250000
max    6800.000000  3500.000000  6800.000000